body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./bombs.jpg");
    background-size: 12%;
}

.logo {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
}

.menu {
    min-height: 50vh;
    min-width: 33vw;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.696);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list>li {
    padding: 20px;
}




/* GAME */
.slot {
    position: absolute;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* transition: 0.1s; */
}

#game {
    background-color: aqua;

}

/* background */
.bg {
    background-image: url("./sprites/green_bg.png");
    height: 650px;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* wall */
.hardwall {
    background-image: url("./sprites/hardwall.png");
    background-size: contain;
    position: absolute;
    height: 50px;
    width: 50px;
}

.softwall {
    background-image: url("");
}