body,
html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: retro_font;
    src: url(./retro_font.ttf);
}


body {
    font-family: retro_font;
    background-image: url("./bombs.jpg");
    background-size: 12%;
}

/* UI */
.ui {
    z-index: 1;
    height: 1000px;
    width: 250px;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 25%;
    transition: 0.3s;
    transform: translate(-30%, -50%) scale(0.65);
}

.ui.pause {
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slotui {
    height: 250px;
    width: 250px;
    display: grid;
}
.bombbag {
    grid-column: 2;
    height: 80px;
    width: auto;
    background-image: url("./sprites/bombbonus.png");
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 90px;
    align-items: center;
}
.lifediv {
    grid-column: 2;
    height: 80px;
    max-width: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.life {
    height: fit-content;
}
.deadlife {
    height: fit-content;    
    filter: grayscale(60%);
}
.ui p {
    transform: translateX(-50%);
    font-size: xx-large;
}
.rangesize {
    grid-column: 2;
    height: 80px;
    width: auto;
    box-sizing: border-box;
    background-image: url("./sprites/flamebonus.png");
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 90px;
    align-items: center;
}
.avatar {
    grid-column: 1;
    grid-row: 1 / 4;
    height: 240px;
    box-sizing: border-box;

}


.logo {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
}

.menu {
    min-height: 50vh;
    min-width: 33vw;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.696);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list {
    list-style: none;
    padding: 0;
}

.menu-list>li {
    padding: 20px;
}


/* JOIN */
.join {
    min-height: 50vh;
    min-width: 33vw;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.696);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* GAME */
.slot {
    position: absolute;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    /* transition: 0.1s; */
}

/* #game {

} */

/* background */
.bg {
    background-image: url("./sprites/green_bg.png");
    height: 650px;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* wall */
.hardwall {
    background-image: url("./sprites/hardwall.png");
    background-size: contain;
    position: absolute;
    height: 50px;
    width: 50px;
}

.softwall {
    background-image: url("./sprites/wall.png");
    background-size: contain;
    position: absolute;
    height: 50px;
    width: 50px;
}

.destroy {
    background-size: contain;
    position: absolute;
    height: 50px;
    width: 50px;
}

/* bomb */

.bomb {
    height: 50px;
    width: 50px;
    background-image: url("./sprites/bomb.png");
    background-size: contain;
    position: absolute;
}
.invisible {
    display: none;
}

/* blast */
.blastX {
    background-image: url("./sprites/blastX.png");
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
}

.blastY {
    background-image: url("./sprites/blastY.png");
    background-repeat: repeat-y;
    background-size: contain;
    position: absolute;
}

.blastMidle {
    background-image: url("./sprites/blastMidle.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}


/* bonus */
.bonus {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.speed {
    background-image: url("./sprites/speedbonus.png");
}

.range {
    background-image: url("./sprites/flamebonus.png");
}

.bombnb {
    background-image: url("./sprites/bombbonus.png");
}